/*==============================
=            banner            =
==============================*/
.banner {
	min-height:480px;
	background:url('../assets/img/content/banner-bg.jpg') no-repeat center center;
	background-size:cover;
}

.banner__content {
	clear:left;
}


/*=====  End of banner  ======*/
