/*======================================
=            page-container            =
======================================*/

.page-container {
    padding: 0 10px;
    margin: 0 auto;
    width: 1120px;
    max-width: 100%;
}


/*=====  End of page-container  ======*/
