/*===============================
=            socials            =
===============================*/
.socials {
	display:flex;
	@media screen and (max-width: 480px) {
		position:absolute;
		left:15px;
		bottom: 15px;
	}
}


/*=====  End of socials  ======*/
