
@font-face {
    font-family: "SegoeUI Light";
    src: url('../assets/fonts/SegoeUILight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "SegoeUI";
    src: url('../assets/fonts/SegoeUIRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "SegoeUI Semibold";
    src: url('../assets/fonts/SegoeUISemiBold.woff') format('woff');
    font-display:swap;
}

@font-face {
    font-family: "SegoeUI Bold";
    src: url('../assets/fonts/SegoeUIBold.woff') format('woff');
    font-display:swap;
}


@font-face {
    font-family: "SegoeUI Italic";
    src: url('../assets/fonts/SegoeUIItalic.woff') format('woff');
    font-style: italic;
    font-display:swap;
}


