/*==============================
=            lauout            =
==============================*/

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    &--banner {
        .breadcrumbs--banner {
            margin-bottom: -51px;
            @-moz-document url-prefix() {
                margin-bottom: -54px;
            }
            .breadcrumbs__item {
                color: #fff;
                &.active {
                    border-bottom: 1px solid transparent;
                    pointer-events: none;
                    color: $grey;
                }
                &:hover {
                    border-bottom: 1px solid transparent;
                    color: $grey;
                }
            }
        }
        .page-content {
            padding-top: 0;
        }
        .workarea .container {
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
        h1 {
            color: #fff;
            &+p {
                color: #fff;
                max-width: 635px;
            }
        }
    }
    &--text {
        .col-lg-9 .row {
            margin-bottom: 20px;
        }
    }
    &--index {
        .workarea .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
        .page-content {
            padding-top: 0;
        }
    }
    &--contacts {
        .workarea .container {
            width: 100%;
            padding: 0;
        }
        h1 {
            padding-bottom: 20px;
            margin: 0 auto;
            margin-bottom: 38px;
            width: 1120px;
            max-width: 100%;
            left: 10px;
        }
    }
    &--management,
    &--reports {
        h1 + p {
            margin-bottom: 50px;
            @media screen and (max-width: 480px) {
                margin-bottom: 25px;
            }
        }
    }
    &--news {
        .sidebar {
            margin-bottom: 30px;
        }
    }
}


/*=====  End of lauout  ======*/
