/*==============================
=            lauout            =
==============================*/

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    &--banner {
        .breadcrumbs--banner {
            margin-bottom: -51px;
            @-moz-document url-prefix() {
                margin-bottom: -54px;
            }
            .breadcrumbs__item {
                color: #fff;
                &.active {
                    border-bottom: 1px solid transparent;
                    pointer-events: none;
                    color: $grey;
                }
                &:hover {
                    border-bottom: 1px solid transparent;
                    color: $grey;
                }
            }
        }
        .page-content {
            padding-top: 0;
        }
        .workarea .container {
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
        h1 {
            color: #fff;
            &+p {
                color: #fff;
                max-width: 635px;
            }
        }
    }
    &--text {
        .col-lg-9 .row {
            margin-bottom: 20px;
        }
    }
    &--index {
        .workarea .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
        .page-content {
            padding-top: 0;
        }
    }
    &--contacts {
        .workarea .container {
            width: 100%;
            padding: 0;
            max-width: 100%;
        }
        h1 {
            padding-bottom: 20px;
            margin: 0 auto;
            margin-bottom: 38px;
            width: 1120px;
            max-width: 100%;
            left: 10px;
            @media screen and (max-width: 767px) {
                left: 20px;
            }
        }
    }
    &--management,
    &--reports {
        h1 + p {
            margin-bottom: 50px;
            @media screen and (max-width: 480px) {
                margin-bottom: 25px;
            }
        }
    }
    &--management2 {
        .sidebar {
            position: fixed;
            top: 240px;
            right: 0;
            z-index: 99;
            transition: all 0.4s ease-in-out;
            opacity: 1;
            visibility: visible;
            &.sticky2 {
                position: fixed;
                top: 20px;
                right: 0;
                opacity: 1;
                visibility: visible;
                transition: all 0.4s ease-in-out;
            }
            &.hide {
                position: fixed;
                top: 20px;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &--news {
        .sidebar {
            margin-bottom: 30px;
        }
    }
    &--404 {
        .page-content {
            height: calc(100vh - 84px);
            @media screen and (max-height: 700px) {
                height: auto;
            }
            @media screen and (max-width: 992px) {
                height: calc(100vh - 61px);
            }
            @media screen and (max-width: 767px) {
                height: auto;
            }
        }
        .page-content .container {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: 767px) {
                display: block;
            }
        }
    }
}


/*=====  End of lauout  ======*/
