/*============================
=            Vars            =
============================*/
$mainColor:#535f75;
$titleColor:#535f75;
$yellow:#fecb09;
$grey:#b6b6b6;
$lightgrey:#b6b6b6;
$activeMenuCl:#303030;
$activeMenuBg:#fecb09;
$transition:all 0.35s ease-in-out;
/*=====  End of Vars  ======*/
